<!DOCTYPE html>
<html ng-app="teacherTestCtr">

<head>
    <% include header %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--Header bar-->
        <% include menuside %> 

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ホーム
                    <small>クラス</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> ホーム</a></li>
                    <li class="active">クラス</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <i class="fa fa-users text-aqua"></i>

                                <h3 class="box-title">クラスリスト</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable"
                                                role="grid" aria-describedby="example2_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending">名</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" >人数</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" >レベル</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" >初日</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" >状態</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1"><a href="/teacher/class/ab3931kae">IOTクラス００６</a></td>
                                                        <td>25</td>
                                                        <td>N5</td>
                                                        <td>２０１９年０１月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">ITクラス００５</td>
                                                        <td>25</td>
                                                        <td>N5</td>
                                                        <td>２０１８年１２月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">IOTクラス００４</td>
                                                        <td>25</td>
                                                        <td>N4</td>
                                                        <td>２０１８年０５月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">ITクラス００３</td>
                                                        <td>25</td>
                                                        <td>N4</td>
                                                        <td>２０１８年０４月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">ITクラス００２</td>
                                                        <td>25</td>
                                                        <td>N3</td>
                                                        <td>２０１７年１２月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">I０Tクラス００１</td>
                                                        <td>22</td>
                                                        <td>N3</td>
                                                        <td>２０１７年１０月０１日</td>
                                                        <td>活動</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">２２件中1から10まで表示</div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous disabled" id="example2_previous"><a
                                                            href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">前</a></li>
                                                    <li class="paginate_button active"><a href="#" aria-controls="example2"
                                                            data-dt-idx="1" tabindex="0">1</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                            data-dt-idx="2" tabindex="0">2</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                            data-dt-idx="3" tabindex="0">3</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                            data-dt-idx="4" tabindex="0">4</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                            data-dt-idx="5" tabindex="0">5</a></li>
                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                            data-dt-idx="6" tabindex="0">6</a></li>
                                                    <li class="paginate_button next" id="example2_next"><a href="#"
                                                            aria-controls="example2" data-dt-idx="7" tabindex="0">次</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </section>
                    <!-- /.Left col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <% include footer %>
        <!--Footer import-->
</body>

</html>