<!DOCTYPE html>
<html>

<head>
    <% include header %>
    <script src="/js/controllers/teacherClassCtr.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--Header bar-->
        <% include menuside %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ホーム
                    <small>クラス</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> ホーム</a></li>
                    <li class="active">クラス</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-10 connectedSortable"  ng-app="teacherClassCtr">
                        <!-- 学生リスト table -->
                        <section id="gakusei-table" class="col-lg-12 connectedSortable">
                            <div class="box box-solid" ng-controller="teStudentManager">
                                <div class="box-header with-border">
                                    <i class="fa fa-users"></i>
                                    <h3 class="box-title">学生リスト</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="box">
                                                        <div class="box-header">
                                                            <div class="box-tools">
                                                                <div class="input-group " style="width: 300px;">
                                                                        <input type="text" name="q" class="form-control pull-right" placeholder="探索..." >
                                                                        <span class="input-group-btn">
                                                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                                                            </button>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div><br><br>
                                                        <!-- /.box-header -->
                                                        <div class="box-body table-responsive no-padding">
                                                                <table class="table table-hover">
                                                                <thead>
                                                                    <tr role="row">
                                                                        <th style="width:120px"></th>
                                                                        <th class="sorting" tabindex="1" >名前</th>
                                                                        <th tabindex="2">評価</th>
                                                                        <th class="sorting" tabindex="3">オンライン時</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr role="row" class="odd"  ng-click="teacherViewStudent('vcvstu98321')" >
                                                                        <td class="user-block" ><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user1-128x128.jpg" alt="User Image"></td>
                                                                        <td ><a href="/teacher/gakusei/vcvstu98321">Van Nam</a></td>
                                                                        <td><span class="badge bg-primary">75</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 70%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">70%</span></td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="user-block" ><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user3-128x128.jpg" alt="User Image"></td>
                                                                        <td>Nguyen Bao Long</td>
                                                                        <td><span class="badge bg-primary">85</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 90%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">90%</span></td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="user-block"><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user4-128x128.jpg" alt="User Image"></td>
                                                                        <td>Do Xuan Manh</td>
                                                                        <td><span class="badge bg-primary">80</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 90%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">90%</span></td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="user-block"><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user5-128x128.jpg" alt="User Image"></td>
                                                                        <td>Phung Van Lam</td>
                                                                        <td><span class="badge bg-red">95</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">100%</span></td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="user-block"><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user6-128x128.jpg" alt="User Image"></td>
                                                                        <td>Ta Bao Minh</td>
                                                                        <td><span class="badge bg-primary">80</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 70%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">70%</span></td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="user-block"><img class="img-circle img-bordered-sm" src="/admin-lte/dist/img/user7-128x128.jpg" alt="User Image"></td>
                                                                        <td>Tran Huynh Quang</td>
                                                                        <td><span class="badge bg-red">95</span></td>
                                                                        <td>
                                                                            <div class="progress progress-xs">
                                                                                <div class="progress-bar progress-bar-primary" style="width: 90%"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td><span class="badge bg-primary">90%</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!-- /.box-body -->
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">２２件中1から10まで表示</div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button previous disabled" id="example2_previous"><a
                                                                href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">前</a></li>
                                                        <li class="paginate_button active"><a href="#" aria-controls="example2"
                                                                data-dt-idx="1" tabindex="0">1</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                data-dt-idx="2" tabindex="0">2</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                data-dt-idx="3" tabindex="0">3</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                data-dt-idx="4" tabindex="0">4</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                data-dt-idx="5" tabindex="0">5</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                data-dt-idx="6" tabindex="0">6</a></li>
                                                        <li class="paginate_button next" id="example2_next"><a href="#"
                                                                aria-controls="example2" data-dt-idx="7" tabindex="0">次</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </section>
                        <!-- レッスン table -->
                        <section id="lesson-table" class="col-lg-12 connectedSortable">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-book"></i>

                                    <h3 class="box-title">レッスン</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <!-- Custom Tabs -->
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1" data-toggle="tab">List</a></li>
                                            <li><a href="#tab_2" data-toggle="tab">New</a></li>
                                            <li><a href="#tab_3" data-toggle="tab">Analyze</a></li>
                                            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                    <div class="row">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table id="example2" class="table table-bordered table-hover dataTable"
                                                                role="grid" aria-describedby="example2_info">
                                                                <thead>
                                                                    <tr role="row">
                                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                                            rowspan="1" colspan="1" aria-sort="ascending">名</th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                                            rowspan="1" colspan="1">内容</th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                                            rowspan="1" colspan="1"></th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                                            rowspan="1" colspan="1">期限</th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example2"
                                                                            rowspan="1" colspan="1">状態</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="#">第１間</a></td>
                                                                        <td>自己紹介ー家族</td>
                                                                        <td></td>
                                                                        <td>０日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="#">第２間</a></td>
                                                                        <td>自己紹介ー仕事</td>
                                                                        <td></td>
                                                                        <td>１日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="#">第３間</a></td>
                                                                        <td>天気ー自然</td>
                                                                        <td></td>
                                                                        <td>２日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="#">第４間</a></td>
                                                                        <td>予定</td>
                                                                        <td></td>
                                                                        <td>４日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="">第５間</a></td>
                                                                        <td>買い物</td>
                                                                        <td></td>
                                                                        <td>５日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                    <tr role="row" class="odd">
                                                                        <td class="sorting_1"><a href="">第６間</a></td>
                                                                        <td>レストランで</td>
                                                                        <td></td>
                                                                        <td>６日</td>
                                                                        <td>活動</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <div class="dataTables_info" id="example2_info" role="status"
                                                                aria-live="polite">２２件中1から10まで表示</div>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                                <ul class="pagination">
                                                                    <li class="paginate_button previous disabled" id="example2_previous"><a
                                                                            href="#" aria-controls="example2" data-dt-idx="0"
                                                                            tabindex="0">前</a></li>
                                                                    <li class="paginate_button active"><a href="#"
                                                                            aria-controls="example2" data-dt-idx="1"
                                                                            tabindex="0">1</a></li>
                                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                            data-dt-idx="2" tabindex="0">2</a></li>
                                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                            data-dt-idx="3" tabindex="0">3</a></li>
                                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                            data-dt-idx="4" tabindex="0">4</a></li>
                                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                            data-dt-idx="5" tabindex="0">5</a></li>
                                                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                            data-dt-idx="6" tabindex="0">6</a></li>
                                                                    <li class="paginate_button next" id="example2_next"><a
                                                                            href="#" aria-controls="example2" data-dt-idx="7"
                                                                            tabindex="0">次</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_2">
                                                The japanese languages are
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_3">
                                                <div class="row">
                                                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                        <input type="text" class="knob" data-readonly="true" value="70" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                    
                                                        <div class="knob-label">単語</div>
                                                    </div>
                                                    <!-- ./col -->
                                                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                    
                                                        <div class="knob-label">文法</div>
                                                    </div>
                                                    <!-- ./col -->
                                                    <div class="col-xs-4 text-center">
                                                        <input type="text" class="knob" data-readonly="true" value="40" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                                        <div class="knob-label">会話</div>
                                                    </div>
                                                    <!-- ./col -->
                                                </div><br/><br/>
                                                <div class="row">
                                                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                    
                                                        <div class="knob-label">練習問題</div>
                                                    </div>
                                                    <!-- ./col -->
                                                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                    
                                                        <div class="knob-label">テスト</div>
                                                    </div>
                                                    <!-- ./col -->
                                                    <div class="col-xs-4 text-center">
                                                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                                                data-fgColor="#39CCCC">
                                    
                                                        <div class="knob-label">文章</div>
                                                    </div>
                                                    <!-- ./col -->
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- nav-tabs-custom -->
                                </div>
                                <!-- /.col -->
                            </div>
                        </section>
                        <!-- /.レッスン table -->
                        <!--練習 table-->
                        <section id="renshuy-table" class="col-lg-12 connectedSortable">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-laptop"></i>
                                    <h3 class="box-title">練習</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                        <!-- Custom Tabs -->
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab_1" data-toggle="tab">List</a></li>
                                                <li><a href="#tab_2" data-toggle="tab">New</a></li>
                                                <li><a href="#tab_3" data-toggle="tab">Analyze</a></li>
                                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                        <div class="row">
                                                            <div class="col-sm-6"></div>
                                                            <div class="col-sm-6"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table id="example2" class="table table-bordered table-hover dataTable"
                                                                    role="grid" aria-describedby="example2_info">
                                                                    <thead>
                                                                        <tr role="row">
                                                                            <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                                                rowspan="1" colspan="1" aria-sort="ascending">名</th>
                                                                            <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                rowspan="1" colspan="1">内容</th>
                                                                            <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                rowspan="1" colspan="1"></th>
                                                                            <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                rowspan="1" colspan="1">期限</th>
                                                                            <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                rowspan="1" colspan="1">状態</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="#">第１間</a></td>
                                                                            <td>自己紹介ー家族</td>
                                                                            <td></td>
                                                                            <td>０日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="#">第２間</a></td>
                                                                            <td>自己紹介ー仕事</td>
                                                                            <td></td>
                                                                            <td>１日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="#">第３間</a></td>
                                                                            <td>天気ー自然</td>
                                                                            <td></td>
                                                                            <td>２日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="#">第４間</a></td>
                                                                            <td>予定</td>
                                                                            <td></td>
                                                                            <td>４日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="">第５間</a></td>
                                                                            <td>買い物</td>
                                                                            <td></td>
                                                                            <td>５日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                        <tr role="row" class="odd">
                                                                            <td class="sorting_1"><a href="">第６間</a></td>
                                                                            <td>レストランで</td>
                                                                            <td></td>
                                                                            <td>６日</td>
                                                                            <td>活動</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="dataTables_info" id="example2_info" role="status"
                                                                    aria-live="polite">２２件中1から10まで表示</div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                                    <ul class="pagination">
                                                                        <li class="paginate_button previous disabled" id="example2_previous"><a
                                                                                href="#" aria-controls="example2" data-dt-idx="0"
                                                                                tabindex="0">前</a></li>
                                                                        <li class="paginate_button active"><a href="#"
                                                                                aria-controls="example2" data-dt-idx="1"
                                                                                tabindex="0">1</a></li>
                                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                data-dt-idx="2" tabindex="0">2</a></li>
                                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                data-dt-idx="3" tabindex="0">3</a></li>
                                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                data-dt-idx="4" tabindex="0">4</a></li>
                                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                data-dt-idx="5" tabindex="0">5</a></li>
                                                                        <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                data-dt-idx="6" tabindex="0">6</a></li>
                                                                        <li class="paginate_button next" id="example2_next"><a
                                                                                href="#" aria-controls="example2" data-dt-idx="7"
                                                                                tabindex="0">次</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_2">
                                                    The japanese languages are
                                                </div>
                                                <!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_3">
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                            <input type="text" class="knob" data-readonly="true" value="70" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                        
                                                            <div class="knob-label">単語</div>
                                                        </div>
                                                        <!-- ./col -->
                                                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                            <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                        
                                                            <div class="knob-label">文法</div>
                                                        </div>
                                                        <!-- ./col -->
                                                        <div class="col-xs-4 text-center">
                                                            <input type="text" class="knob" data-readonly="true" value="40" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                                            <div class="knob-label">会話</div>
                                                        </div>
                                                        <!-- ./col -->
                                                    </div><br/><br/>
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                            <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                        
                                                            <div class="knob-label">練習問題</div>
                                                        </div>
                                                        <!-- ./col -->
                                                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                            <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                        
                                                            <div class="knob-label">テスト</div>
                                                        </div>
                                                        <!-- ./col -->
                                                        <div class="col-xs-4 text-center">
                                                            <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                                                    data-fgColor="#39CCCC">
                                        
                                                            <div class="knob-label">文章</div>
                                                        </div>
                                                        <!-- ./col -->
                                                    </div>
                                                </div>
                                                <!-- /.tab-pane -->
                                            </div>
                                            <!-- /.tab-content -->
                                        </div>
                                        <!-- nav-tabs-custom -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </section>
                        <!--/. Renshuy table-->
                        <!--テスト table-->
                        <section id="test-table" class="col-lg-12 connectedSortable">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <i class="fa fa-edit"></i>
        
                                        <h3 class="box-title">テスト</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                            <!-- Custom Tabs -->
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_1" data-toggle="tab">List</a></li>
                                                    <li><a href="#tab_2" data-toggle="tab">New</a></li>
                                                    <li><a href="#tab_3" data-toggle="tab">Analyze</a></li>
                                                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1">
                                                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                            <div class="row">
                                                                <div class="col-sm-6"></div>
                                                                <div class="col-sm-6"></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <table id="example2" class="table table-bordered table-hover dataTable"
                                                                        role="grid" aria-describedby="example2_info">
                                                                        <thead>
                                                                            <tr role="row">
                                                                                <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                                                    rowspan="1" colspan="1" aria-sort="ascending">名</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                    rowspan="1" colspan="1">内容</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                    rowspan="1" colspan="1"></th>
                                                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                    rowspan="1" colspan="1">期限</th>
                                                                                <th class="sorting" tabindex="0" aria-controls="example2"
                                                                                    rowspan="1" colspan="1">状態</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="#">第１間</a></td>
                                                                                <td>自己紹介ー家族</td>
                                                                                <td></td>
                                                                                <td>０日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="#">第２間</a></td>
                                                                                <td>自己紹介ー仕事</td>
                                                                                <td></td>
                                                                                <td>１日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="#">第３間</a></td>
                                                                                <td>天気ー自然</td>
                                                                                <td></td>
                                                                                <td>２日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="#">第４間</a></td>
                                                                                <td>予定</td>
                                                                                <td></td>
                                                                                <td>４日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="">第５間</a></td>
                                                                                <td>買い物</td>
                                                                                <td></td>
                                                                                <td>５日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                            <tr role="row" class="odd">
                                                                                <td class="sorting_1"><a href="">第６間</a></td>
                                                                                <td>レストランで</td>
                                                                                <td></td>
                                                                                <td>６日</td>
                                                                                <td>活動</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <div class="dataTables_info" id="example2_info" role="status"
                                                                        aria-live="polite">２２件中1から10まで表示</div>
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                                        <ul class="pagination">
                                                                            <li class="paginate_button previous disabled" id="example2_previous"><a
                                                                                    href="#" aria-controls="example2" data-dt-idx="0"
                                                                                    tabindex="0">前</a></li>
                                                                            <li class="paginate_button active"><a href="#"
                                                                                    aria-controls="example2" data-dt-idx="1"
                                                                                    tabindex="0">1</a></li>
                                                                            <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="2" tabindex="0">2</a></li>
                                                                            <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="3" tabindex="0">3</a></li>
                                                                            <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="4" tabindex="0">4</a></li>
                                                                            <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="5" tabindex="0">5</a></li>
                                                                            <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                                    data-dt-idx="6" tabindex="0">6</a></li>
                                                                            <li class="paginate_button next" id="example2_next"><a
                                                                                    href="#" aria-controls="example2" data-dt-idx="7"
                                                                                    tabindex="0">次</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_2">
                                                        The japanese languages are
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_3">
                                                        <div class="row">
                                                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                                <input type="text" class="knob" data-readonly="true" value="70" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                            
                                                                <div class="knob-label">単語</div>
                                                            </div>
                                                            <!-- ./col -->
                                                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                                <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                            
                                                                <div class="knob-label">文法</div>
                                                            </div>
                                                            <!-- ./col -->
                                                            <div class="col-xs-4 text-center">
                                                                <input type="text" class="knob" data-readonly="true" value="40" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                                                <div class="knob-label">会話</div>
                                                            </div>
                                                            <!-- ./col -->
                                                        </div><br/><br/>
                                                        <div class="row">
                                                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                            
                                                                <div class="knob-label">練習問題</div>
                                                            </div>
                                                            <!-- ./col -->
                                                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                            
                                                                <div class="knob-label">テスト</div>
                                                            </div>
                                                            <!-- ./col -->
                                                            <div class="col-xs-4 text-center">
                                                                <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                                                        data-fgColor="#39CCCC">
                                            
                                                                <div class="knob-label">文章</div>
                                                            </div>
                                                            <!-- ./col -->
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                </div>
                                                <!-- /.tab-content -->
                                            </div>
                                            <!-- nav-tabs-custom -->
                                        </div>
                                    <!-- /.box-body -->
                                </div>
                        </section>
                        <!--/. Test table-->
                    </section>
                    <!--Right col -->
                    <section class="col-lg-2" >
                        <div style="position:fixed">
                            <ul class="nav">
                                <!--<ul class="nav" style="position:fixed">-->
                                <li class="nav-item"><a class="nav-link" href="#gakusei-table">学生リスト</a></li>
                                <li class="nav-item"><a class="nav-link" href="#lesson-table">レッスン</a></li>
                                <li class="nav-item"><a class="nav-link" href="#renshuy-table">練習</a></li>
                                <li class="nav-item"><a class="nav-link" href="#test-table">テスト</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://valleycampus.jp">ValleyCampusVN</a>.</strong> All
            rights
            reserved.
        </footer>
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admin-lte/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="/admin-lte/bower_components/raphael/raphael.min.js"></script>
    <script src="/admin-lte/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="/admin-lte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/admin-lte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/admin-lte/bower_components/moment/min/moment.min.js"></script>
    <script src="/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/admin-lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/admin-lte/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/admin-lte/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admin-lte/dist/js/demo.js"></script>
</body>

</html>