<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchWriting">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>文章を練習しよう。</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #writing-list       { margin-bottom:30px; }
        strike          {color: brown;}
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/js/controllers/writingCtr.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL WRITINGS -->
<body ng-controller="writingController">
    <div class="container">

        <!-- HEADER AND WRITINGS COUNT -->
        
        <div class="text-center">
            <h3><span class="label label-info">{{ count }}</span></h3>
            <label>ベトナム<strike>語</strike></label>
            <h2>{{sentences[count]["vn"]}}</h2>
        </div>
        <div class="text-center">
            <label>日本語</label>
            <h2>{{sentences[count]["jp"]}}</h2>
        </div>
        <div class="text-center">
                <button type="submit" class="btn btn-warning btn-lg" ng-click="count = count - 1">戻</button>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="count = count + 1">次</button>
        </div>
        <!-- WRITINGS LIST -->
        <div id="writing-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <!-- LOOP OVER THE WRITINGS IN $scope.writings -->
                <div class="checkbox" ng-repeat="writing in writings">
                    <label>
                        <!--<input type="checkbox" ng-click="deleteWriting(writing._id)"> {{ writing.text }}-->
                    </label>
                </div>
                
            </div>
        </div>

        <!-- FORM TO CREATE WRITINGS -->
        <div id="writing-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="日本語で書いてください。" ng-model="formData.text">
                    </div>

                    <!-- createWriting() WILL CREATE NEW WRITINGS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createWriting()">入力</button>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="getAnalyzeSentence()">分析</button>
                    
                </form>
            </div>
        </div>
        <div class="text-center">
            <h3 ng-bind-html-unsafe="words"></h3>
        </div>

        <!--
        <div id="writing-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>kanji</th>
                        <th>lexical</th>
                        <th>compound</th>
                        <th>compound2</th>
                        <th>compound3</th>
                        <th>conjugation</th>
                        <th>inflection</th>
                        <th>original</th>
                        <th>reading</th>
                        <th>pronunciation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="word in words">
                        <td> {{ word[0] }}</td>
                        <td> {{ word[1] }}</td>
                        <td> {{ word[2] }}</td>
                        <td> {{ word[3] }}</td>
                        <td> {{ word[4] }}</td>
                        <td> {{ word[5] }}</td>
                        <td> {{ word[6] }}</td>
                        <td> {{ word[7] }}</td>
                        <td> {{ word[8] }}</td>
                        <td> {{ word[9] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        -->
        

    </div>
</body>
</html>