<!DOCTYPE html>
<html>

<head>
    <% include header %>
    <link rel="stylesheet" href="/admin-lte/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-4.1.0.js"></script>
    <script src="/js/controllers/testCtr.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script> -->
    <!-- <script src="/mqtt/browserMqtt.js"></script> -->
    <!-- <script src="/paho/testPubnub.js"></script> -->
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include menuside %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Student
                    <small>Learn</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-book"></i>Learn</a></li>
                    <li class="active">Conversation</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-9">
                        <h3 class="text-center text-red">Lesson 1: 자기 소개</h3><br />
                        <div class="box box-widget">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_kotoba" data-toggle="tab">Vocabulary</a></li>
                                    <li><a href="#tab_bunpo" data-toggle="tab">Grammar</a></li>
                                    <li><a href="#tab_bunshou" data-toggle="tab">Sentences</a></li>
                                    <li><a href="#tab_kaiwa" data-toggle="tab">Conversation</a></li>
                                </ul>
                                <div class="tab-content" ng-app="converApp">
                                    <!-- tab-kotoba -->
                                    <div class="tab-pane active" id="tab_kotoba">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                <!-- search form -->
                                                <form action="#" method="get" class="sidebar-form">
                                                    <div class="input-group">
                                                        <input type="text" name="q" class="form-control" placeholder="Search...">
                                                        <span class="input-group-btn">
                                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                                                    class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <!-- /.search form -->
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="box box-default">
                                                <br />
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="text-center">
                                                            <label>Korean &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                                                            <h4>annyeonghaseyo</h4>
                                                            <h2>안녕하세요</h2><label>감탄사</label>
                                                        </div><br />
                                                        <div style="margin-left: 30px;">
                                                            related:
                                                            <h4>안녕하세요!, 안녕하세요!</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-center">
                                                            <label>VietNamese &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                                                            <h3>Xin chào</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-center">
                                                            <label>English &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                                                            <h3>Hi</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-right" style="margin-right: 30px;">
                                                    <button type="submit" class="btn btn-default" ng-click="count = count - 1">Previous</button>
                                                    <button type="submit" class="btn btn-default" ng-click="count = count + 1">Next</button>
                                                </div>
                                            </div>
                                            <div class="box box-default">
                                                <h4 class="text-success">Example sentence:</h4>
                                                <div class="text-center">
                                                    <h4><u>안녕하세요</u>? 저는 (name)입니다. 처음 뵙겠습니다.<a href="#"><i class="fa fa-volume-up"></i></a></h4>
                                                </div>
                                                <div class="text-center">
                                                    <h4>Hi, my name is ... . Nice to meet you.</h4>
                                                    <h4>Xin chào, tên tôi là ... . Rất vui được gặp bạn.</h4><br />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- tab- bunpo -->
                                    <div class="tab-pane" id="tab_bunpo">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                <!-- search form -->
                                                <form action="#" method="get" class="sidebar-form">
                                                    <div class="input-group">
                                                        <input type="text" name="q" class="form-control" placeholder="Grammar search...">
                                                        <span class="input-group-btn">
                                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                                                    class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <!-- /.search form -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-8">
                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-clock-o"></i> ２分</span>
                                                    <div class="timeline-body">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <img class="img-responsive lesson_pic" src="/images/family.png"
                                                                alt="Photo">
                                                        </div>
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box box-default">
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h3>1．　거든요</h3>
                                                    <h4>Vì , do vì , là vì</h4>
                                                </div>
                                                <div class="col-lg-2"><i class="fa  fa-star text-red"></i>
                                                    <i class="fa  fa-star text-red"></i>
                                                    <i class="fa  fa-star text-red"></i>
                                                    <i class="fa  fa-star text-red"></i>
                                                </div>
                                            </div><br>
                                            <div class="text-right" style="margin-right: 30px;">
                                                <button type="submit" class="btn btn-default" ng-click="count = count - 1">Previous</button>
                                                <button type="submit" class="btn btn-default" ng-click="count = count + 1">Next</button>
                                            </div>
                                        </div>
                                        <div class="box box-default">
                                            <h3>Examples: </h3>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>1. 저는 한국어를 열심히 공부했<b class="text-red">거든요</b>. <i class="fa fa-volume-up"></i></h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>&nbsp Vì tôi đã học tiếng Hàn chăm chỉ mà.</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>&nbsp Because I have learned Korean hard.</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>２．저는 요즘에 너무 늦게 자요. 일이 많<b class="text-red">거든요</b>. <i class="fa fa-volume-up"></i></h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>&nbsp Những ngày này tôi đi ngủ trễ . bởi vì tôi có quá nhiều
                                                        việc. </h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-8">
                                                    <h4>&nbsp These days I am going to bed too late. Because I have so
                                                        much work. </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box box-primary">
                                            <h4>Practice with your own sentence</h4>
                                            <br />
                                            <div id="writing-form" class="row">
                                                <div class="col-sm-8 col-sm-offset-2 ">
                                                    <form>
                                                        <div class="form-group text-center">
                                                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                                            <input type="text" class="form-control input-lg text-center"
                                                                placeholder="Please write a Korean sentence" ng-model="formData.text">
                                                        </div>
                                                        <div class="text-right">
                                                            <button type="cancel" class="btn btn-danger">Cancel</button>
                                                            <button type="submit" class="btn btn-primary" ng-click="getAnalyzeSentence()">Enter</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- tab-bunsho -->
                                    <div class="tab-pane" id="tab_bunshou">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                <!-- search form -->
                                                <form action="#" method="get" class="sidebar-form">
                                                    <div class="input-group">
                                                        <input type="text" name="q" class="form-control" placeholder="Sentences Search...">
                                                        <span class="input-group-btn">
                                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                                                    class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <!-- /.search form -->
                                            </div>
                                        </div>
                                        <div class="box box-default">
                                            <div class="row">
                                                <div class="col-lg-6 text-center">
                                                    <h4>Korean</h4>
                                                </div>
                                                <div class="col-lg-6 text-center">
                                                    <h4>VietNamese</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>1. 저는…입니다 /Cho-nưn …-im-ni-ta/ <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;">Tên tôi là … </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>2. 저는 … 살이에요 / cho- nưn … sa ri e yo/ <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;">Tôi … tuổi </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>3. 저는….. 사람입니다 / 저는 … 에서 왔서요 /…에 삽니다 <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;">tôi là người… / tôi đến từ…./ tôi
                                                        sống ở…. </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>4.이름이 뭐예요? / i-rư-mi muơ-yê -yô? / <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;"> Tên bạn là gì? </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>5.어디서 오셧어요? ô-ti-xô ô -xyơt -xơ-yô ? <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;"> Bạn ở đâu đến? </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="row">
                                                <div style="padding: left 32px;" class="col-lg-6">
                                                    <h4>6. 뭘 하고 있어요? muơl ha-kô -ít-xơ-yô <i class="fa fa-volume-up pull-right"></i></h4>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h4 style="padding: left 40px;"> Bạn đang làm gì vậy? </h4>
                                                </div><br /><br />
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-default" ng-click="count = count - 10;showanswer = false">Previous</button>
                                                <button type="submit" class="btn btn-default" ng-click="count = count + 10;showanswer = false">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- tab-kaiwa -->
                                    <div class="tab-pane" id="tab_kaiwa" ng-controller="converCtr">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6">
                                                <!-- search form -->
                                                <div class="input-group">
                                                    <input type="text" name="q" class="form-control input-message"
                                                        ng-model="messageContent" placeholder="Search conversation">
                                                    <span class="input-group-btn">
                                                        <button name="search" id="search-btn" class="btn btn-flat"><i
                                                                class="fa fa-send"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <!-- /.search form -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="col-lg-8">
                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-clock-o"></i> 2 minutes</span>

                                                    <h3 class="timeline-header text-center lesson-title">안녕하세요</h3>

                                                    <div class="timeline-body">
                                                        <div class="embed-responsive embed-responsive-16by9 class-image-lesson">
                                                            <img class="img-responsive lesson_pic" src="/images/introduction.png"
                                                                alt="Photo">
                                                        </div>
                                                    </div><br>
                                                    <div class="timeline-footer">
                                                        <span class="pull-right text-muted">Practiced: 4 times</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">

                                            </div>
                                        </div><br>
                                        <!--Tab conversion with ai-->
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <select class="form-control input-lesson">
                                                            <option value="con1">Lesson 1</option>
                                                            <option value="con2">Lesson 2</option>
                                                            <option value="con3">Lesson 3</option>
                                                            <option value="con4">Lesson 4</option>
                                                            <option value="con5">Lesson 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <select class="form-control input-user-quz">
                                                            <option value="1">Actor 1</option>
                                                            <option value="2">Actor 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="box box-primary direct-chat direct-chat-primary">
                                                    <!--Attached new conversation-->
                                                    <div id="scroll-bottom" class="direct-chat-messages my-messages"
                                                        style="height:480px;">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3">
                                                <button class="btn btn-primary btn-publish-start">Start Conversation</button>
                                            </div>
                                        </div>
                                        <!--Korean script-->
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-8">
                                                <div class="box box-default">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Korean Script</h3>
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                                    class="fa fa-minus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body class-korean-lesson">
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp
                                                                first :</div>
                                                            <div class="col-lg-9">
                                                                <h4>안녕하세요</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp
                                                                second :</div>
                                                            <div class="col-lg-9">
                                                                <h4>안녕하세요. 저는 타완이에요.</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp
                                                                first :</div>
                                                            <div class="col-lg-9">
                                                                <h4>베트남 사람이에요?</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp
                                                                second :</div>
                                                            <div class="col-lg-9">
                                                                <h4>네, 베트남 사람이에요.</h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--Viet Nam script-->
                                        <div class="row">
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="col-lg-8">
                                                <div class="box box-default collapsed">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">VietNamese Script</h3>
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                                    class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp
                                                                first :</div>
                                                            <div class="col-lg-9">
                                                                <h4>Xin chào.</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp
                                                                second :</div>
                                                            <div class="col-lg-9">
                                                                <h4>Xin chào. Mình là TOAN</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp
                                                                first :</div>
                                                            <div class="col-lg-9">
                                                                <h4>Bạn là người VIET NAM à?</h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp
                                                                second :</div>
                                                            <div class="col-lg-9">
                                                                <h4>Vâng, mình là người VIET NAM.</h4>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                    <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp A :</div>
                                                    <div class="col-lg-9"><h4>Chuyên ngành ở trường đại học của bạn là gì?</h4></div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp B :</div>
                                                    <div class="col-lg-9"><h4>Mình đang học tiếng hàn quốc. Còn bạn thì sao?</h4></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3"><i class="fa fa-user text-aqua"></i>&nbsp A :</div>
                                                    <div class="col-lg-9"><h4>Mình đang học công nghệ thông tin.</h4></div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-lg-3"><i class="fa fa-user"></i>&nbsp B :</div>
                                                    <div class="col-lg-9"><h4>Tuyệt vời quá.</h4></div> -->
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col-->
                    <section class="col-lg-3">

                        <div class="box box-primary">
                            <h3 class="text-center">Basic Course</h3><br />
                            <ul class="sidebar-menu tree list-group" data-widget="tree">
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i>Week 1</i>
                                        <span class="pull-right-container"><small class="label bg-red">100%</small></i>&nbsp;<i
                                                class="fa fa-angle-left"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 1<i class="fa fa-check pull-right text-success"></i></a></li>
                                        <li class="treeview"><a href="#">Lesson 2 <i class="fa fa-check pull-right text-success"></i></a></li>
                                        <li class="treeview"><a href="#">test</a><i class="fa fa-check pull-right text-success"></i></li>
                                    </ul>
                                </li>
                                <li class="treeview active">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 2
                                        <span class="pull-right-container"><small class="label bg-blue">80%</small>&nbsp;<i
                                                class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: block;">
                                        <li class="treeview"><a href="#">Lesson 3<i class="fa fa-check pull-right text-success"></i></a></li>
                                        <li class="treeview"><a href="#">Lesson 4<i class="fa fa-check pull-right text-success"></i></a></li>
                                        <li class="treeview"><a href="#">test</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 3
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 5</a></li>
                                        <li class="treeview"><a href="#">Lesson 6/a></li>
                                        <li class="treeview"><a href="#">test</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 4
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 7</a></li>
                                        <li class="treeview"><a href="#">Lesson 8</a></li>
                                        <li class="treeview"><a href="#">test</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 5
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 9</a></li>
                                        <li class="treeview"><a href="#">Lesson 10</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 6
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 11</a></li>
                                        <li class="treeview"><a href="#">Lesson 12</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 7
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 13</a></li>
                                        <li class="treeview"><a href="#">Lesson 14</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 8
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 15</a></li>
                                        <li class="treeview"><a href="#">Lesson 16</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 9
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 17</a></li>
                                        <li class="treeview"><a href="#">Lesson 18</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 10
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 19</a></li>
                                        <li class="treeview"><a href="#">Lesson 20</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 11
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 21</a></li>
                                        <li class="treeview"><a href="#">Lesson 22</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i> Week 12
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <li class="treeview"><a href="#">Lesson 23</a></li>
                                        <li class="treeview"><a href="#">Lesson 24</a></li>
                                        <li class="treeview"><a href="#">Lesson 25</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.0
            </div>
            <strong>Copyright &copy; 2018-2019 <a href="https://valleycampus.jp">AILearn</a>.</strong> All rights
            reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admin-lte/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sparkline -->
    <script src="/admin-lte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/admin-lte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/admin-lte/bower_components/moment/min/moment.min.js"></script>
    <script src="/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/admin-lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/admin-lte/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admin-lte/dist/js/demo.js"></script>
    <script src="/javascripts/assets/mows.js"></script>
    <script src="/javascripts/test_kt.js"></script>
</body>

</html>

