<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>MQTT on Websocket sample</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]>
  <!-->
  <link rel="stylesheet" href="stylesheets/marketing.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <!--<![endif]-->
</head>
<body>

  <div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">MQTT on Websocket sample</a>
      <ul>
        <li>
          <a href="https://github.com/mitsuruog/what-mqtt"> <i class="fa fa-lg fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="splash-container">
    <div class="splash">
      <h3 class="splash-head">MQTT Client sample</h3>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">How to use</h2>

      <div class="pure-g">
        <div class="l-box pure-u-1-3">

          <h3 class="content-subhead"> <i class="fa fa-link"></i>
            Connect
          </h3>
          <p>
            First, Click on the Connect button, then connected to <code>ws://broker.hivemq.com:8000/mqtt</code>.
          </p>
        </div>

        <div class="l-box pure-u-1-3">
          <h3 class="content-subhead">
            <i class="fa fa-check-square-o"></i>
            Subscribe
          </h3>
          <p>
            Next, Click on the Subscribe button to enter a Topic.
          </p>
        </div>
        <div class="l-box pure-u-1-3">
          <h3 class="content-subhead">
            <i class="fa fa-thumbs-o-up "></i>
            Publish
          </h3>
          <p>
            Finally, Click on the Publish button to enter the Topic and some Messages. enjoy MQTT life :).
          </p>
        </div>
      </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">

      <div class="l-box-lrg pure-u-2-3">
        <button class="pure-button btn-clear">message clear</button>
        <div class="messages"></div>
      </div>

      <div class="pure-u-1-3">

        <form class="pure-form">
          <fieldset>
            <legend>Connect / Disconnect</legend>
            <button class="pure-button btn-connect">connect</button>
            <button class="pure-button btn-disconnect">disconnect</button>
          </fieldset>
		  
          <fieldset>
            <legend>MQTT broker on websocket</legend>
            <label>
			  Address:
              <input type="text" class="input-broker-ws" value="ws://broker.hivemq.com:8000/mqtt"></label>
          </fieldset>

          <fieldset>
            <legend>Subscribe / Unsubscribe</legend>
            <label>
              Topic:
              <input type="text" class="input-topic-sub" value="mitsuruog"></label>
            <button class="pure-button btn-subscribe">subscribe</button>
            <button class="pure-button btn-unsubscribe">unsubscribe</button>
          </fieldset>

          <fieldset>
            <legend>Publish</legend>
            <label>
              Topic:
              <input type="text" class="input-topic-pub" value="mitsuruog"></label>
            <label>
              Message:
              <input type="text" class="input-message" value="Hello mitsuruog :)"></label>
            <button class="pure-button btn-publish">publish</button>
          </fieldset>
        </form>

      </div>
    </div>

    <div class="content">
      <h2 class="content-head is-center">Appendix</h2>

      <div class="pure-g">

        <div class="l-box-lrg pure-u-2-3 appendix">

          <ul>
            <li>
              <a href="https://github.com/mqttjs/MQTT.js">mqttjs/MQTT.js</a>
            </li>
            <li>
              <a href="https://github.com/mcollina/mows">mcollina/mows</a>
            </li>
            <li>
              <a href="http://stackoverflow.com/questions/16047344/can-a-web-browser-use-mqtt">Can a web browser use MQTT? - Stack Overflow</a>
            </li>
            <li>
              <a href="http://www.hivemq.com/mqtt-over-websockets-with-hivemq/">MQTT over Websockets with HiveMQ</a>
            </li>
            <li>
              <a href="https://www.flickr.com/photos/62546270@N07/">Photo by Matt Rafferty</a>
            </li>
          </ul>

        </div>

        <div class="l-box-lrg pure-u-1-1"></div>

      </div>

    </div>

    <div class="footer l-box is-center">
      Created by
      <a href="https://github.com/mitsuruog">mitsuruog</a>
      . Design by
      <a href="http://purecss.io/">Pure</a>
    </div>

  </div>

  <script src="/javascripts/assets/mows.js"></script>
  <script src="/javascripts/main.js"></script>

  <!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56126469-2', 'auto');
  ga('send', 'pageview');

  </script> -->

</body>
</html>
