<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>V</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>AILearn</b>VN-KR</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle</span>
    </a>
    
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/admin-lte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Van Nam</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                IT-Enginer
                <small>graduated. 4-2018</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">My course</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Help center</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Settings</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="/gakusei/profile/vannam-IOT001" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" style="padding-top:40%" data-widget="tree">
      <li><a href="#"><i class="fa fa-dashboard"></i> <span>Home</span> </a></li>
      <!--学習-->
      <li title="Learn"><a href="/student/leanr"><i class="fa fa-book"></i> <span>Learn</span> </a></li>
      <!-- <li class="treeview">
              <a href="#">
                <i class="fa fa-book"></i>
                <span>学習</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li><a href="/student/lesson/kotoba"><i class="fa fa-circle-o"></i>言葉</a></li>
                  <li><a href="/student/lesson/bunbo"><i class="fa fa-circle-o"></i>文法</a></li>
                  <li><a href="/student/lesson/bunshou"><i class="fa fa-circle-o"></i>文章</a></li>
                  <li><a href="/student/lesson/kaiwa"><i class="fa fa-circle-o"></i>会話</a></li>
                  <li><a href="/student/lesson/dokai"><i class="fa fa-circle-o"></i>読解</a></li>
                  <li><a href="/student/lesson/choukai"><i class="fa fa-circle-o"></i>聴解</a></li>　
              </ul>
            </li> -->
      <!--練習-->
      <li><a href="#"><i class="fa fa-hand-paper-o"></i><span>Practive</span></a></li>
      <!-- <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>練習</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/gakusei/renshuy/kotoba"><i class="fa fa-circle-o"></i>言葉</a></li>
                <li><a href="/gakusei/renshuy/kotoba"><i class="fa fa-circle-o"></i>会話</a></li>
                <li><a href="/gakusei/renshuy/kotoba"><i class="fa fa-circle-o"></i>文法</a></li>
                <li><a href="/gakusei/writing"><i class="fa fa-circle-o"></i>文章</a></li>
              </ul>
            </li> -->
      <!--テスト-->
      <li><a href="#"><i class="fa fa-edit"></i><span>Test</span></a></li>
      <!-- <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>テスト</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/student/test/kotoba"><i class="fa fa-circle-o"></i>単語</a></li>
                <li><a href="/student/test/bunbo"><i class="fa fa-circle-o"></i>文法</a></li>
                <li><a href="/student/test/bunshou"><i class="fa fa-circle-o"></i>会話</a></li>
                <li><a href="/student/test/kaiwa"><i class="fa fa-circle-o"></i>文章</a></li>
                <li><a href="/student/test/zenbu"><i class="fa fa-circle-o"></i>合成</a></li>
              </ul>
            </li> -->
      <!--カレンダー-->
      <li><a href="#"><i class="fa fa-share"></i>Test functions</a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>