<!DOCTYPE html>
<html ng-app="scotchWriting">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VCLab | Student</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/admin-lte/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin-lte/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="/admin-lte/bower_components/morris.js/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/admin-lte/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="/admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
        strike          {color: brown;}
    </style>
  <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/js/controllers/writingCtr.js"></script>

</head>
<body ng-controller="writingController" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>V</b>C</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>ValleyCampus</b>VN</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin-lte/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin-lte/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin-lte/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/admin-lte/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/admin-lte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Van Nam</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Van Nam</p>
          <a href="#"><i class="fa fa-circle text-success"></i>オンライン</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="探索...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span>ホーム</span> </a></li>
        <!--レッスン-->
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>レッスン</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/student/lesson/kotoba"><i class="fa fa-circle-o"></i>言葉</a></li>
                <li><a href="/student/lesson/bunbo"><i class="fa fa-circle-o"></i>文法</a></li>
                <li><a href="/student/lesson/bunshou"><i class="fa fa-circle-o"></i>文章</a></li>
                <li><a href="/student/lesson/kaiwa"><i class="fa fa-circle-o"></i>会話</a></li>
                <li><a href="/student/lesson/dokai"><i class="fa fa-circle-o"></i>読解</a></li>
                <li><a href="/student/lesson/choukai"><i class="fa fa-circle-o"></i>聴解</a></li>　
            </ul>
        </li>
        <!--練習-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>練習</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>単語</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>文法</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>会話</a></li>
            <li><a href="/student/writing"><i class="fa fa-circle-o"></i>文章</a></li>
          </ul>
        </li>
        <!--テスト-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>テスト</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/student/test/kotoba"><i class="fa fa-circle-o"></i>単語</a></li>
            <li><a href="/student/test/bunbo"><i class="fa fa-circle-o"></i>文法</a></li>
            <li><a href="/student/test/bunshou"><i class="fa fa-circle-o"></i>会話</a></li>
            <li><a href="/student/test/kaiwa"><i class="fa fa-circle-o"></i>文章</a></li>
            <li><a href="/student/test/zenbu"><i class="fa fa-circle-o"></i>合成</a></li>
          </ul>
        </li>
        <!--カレンダー-->
        <li>
          <a href="admin-lte/pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>カレンダー</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">7</small>
            </span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        レッスン
        <small>言葉</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i> レッスン</a></li>
        <li class="active">言葉</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        
        <section class="col-lg-9 connectedSortable">
            <h3 class="text-center text-red">第１課：時間</h3><br/>
            <div class="box box-primary">
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <label>日本語  &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                            <h4>いぜん</h4>
                            <h2>以前</h2><label>副詞</label>
                        </div><br/>
                        <div style="margin-left: 30px;">
                          同意語:
                            <h4>以前, 以前に, 前に</h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <label>ベトナム語  &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                            <h3>Trước đây</h3>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                          <label>英語  &nbsp;<a href="#"><i class="fa fa-volume-up"></i></a></label>
                            <h3>Before, Previous</h3>
                        </div>
                    </div>
                </div>
                <div class="text-right" style="margin-right: 30px;">
                    <button type="submit" class="btn btn-default" ng-click="count = count - 1">戻</button>
                    <button type="submit" class="btn btn-default" ng-click="count = count + 1">次</button>
                </div>
            </div>
            <div class="box box-primary">
                <h4 class="text-success">例文</h4>
                <div class="text-center">
                    <h4>１．ふるさとは<b>以前</b>と全く変わってしまった。<a href="#"><i class="fa fa-volume-up"></i></a></h4>
                </div>
                <div class="text-center">
                  <h4>Quê tôi đã thay đổi hoàn toàn so với trước đây.</h4><br/>
                </div>
                <div class="text-center">
                  <h4>２．<b>以前</b>は、人々歩いて旅行したものだった。<a href="#"><i class="fa fa-volume-up"></i></a></h4>
                </div>
                <div class="text-center">
                  <h4>Trước đây, mọi người từng đi bộ đi du lịch.</h4><br/>
                </div>
            </div>
            
            <div class="box box-danger">
                <h4>練習文章</h4>
                <br/>
                <div id="writing-form" class="row">
                    <div class="col-sm-8 col-sm-offset-2 ">
                        <form>
                            <div class="form-group text-center">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                <input type="text" class="form-control input-lg text-center" placeholder="日本語で例を書いて。" ng-model="formData.text">
                            </div>
        
                            <!-- createWriting() WILL CREATE NEW WRITINGS -->
                            <!--<button type="submit" class="btn btn-primary btn-lg" ng-click="createWriting()">入力</button>-->
                            <div class="text-right">
                                <button type="cancel" class="btn btn-danger">取消</button>
                                <button type="submit" class="btn btn-primary" ng-click="getAnalyzeSentence()">入力</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.Left col -->
        <!-- right col-->
        <section class="col-lg-3 sidebar">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="treeview">aaa</li>
                <li class="treeview menu-open" >
                    <a href="#">
                      <i class="fa fa-share"></i> <span>Multilevel</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu" style="display: block;">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                      <li class="treeview menu-open">
                        <a href="#"><i class="fa fa-circle-o"></i> Level One
                          <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu" style="display: block;">
                          <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                          <li class="treeview menu-open">
                            <a href="#"><i class="fa fa-circle-o"></i> Level Two
                              <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                              </span>
                            </a>
                            <ul class="treeview-menu" style="display: block;">
                              <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                              <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                  </li>
            </ul>
            <div class="box box-primary">
                <h3 class="text-center">レッスン</h3><br/>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">第１課：時間<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第２課：家族ー友人①<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第３課：家族ー友人②<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第４課：たべるー飲む①<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第５課：食べるー飲む②<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第６課：料理ー味①<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第７課：料理ー味②<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第８課：レストランー店ーホテル<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第９課：毎日の生活①<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第１０課：毎日の生活②<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第１１課：電車<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第１２課：飛行機ーバスー車①<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第１３課：飛行機ーバスー車②<i class="fa fa-check pull-right text-success"></i></a></li>
                    <li class="list-group-item"><a href="#">第１４課：家①<small class="label pull-right bg-blue">50%</small></a></li>
                    <li class="list-group-item"><a href="#">第１５課：家②</a></li>
                    <li class="list-group-item"><a href="#">第１６課：施設</a></li>
                    <li class="list-group-item"><a href="#">第１７課：街</a></li>
                    <li class="list-group-item"><a href="#">第１８課：お金、買い物①</a></li>
                    <li class="list-group-item"><a href="#">第１９課：お金、買い物②</a></li>
                    <li class="list-group-item"><a href="#">第２０課：靴ー服ーオシャル①</a></li>
                    <li class="list-group-item"><a href="#">第２１課：靴ー服ーオシャル②</a></li>
                    <li class="list-group-item"><a href="#">第２２課：色ー形</a></li>
                    <li class="list-group-item"><a href="#">第２３課：数ー量ー面積</a></li>
                    <li class="list-group-item"><a href="#">第２４課：趣味ー活動</a></li>
                    <li class="list-group-item"><a href="#">第２５課：郵便ー宅配ー銀行</a></li>
                </ul>
            </div>
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.1.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://valleycampus.jp">ValleyCampusVN</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admin-lte/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="/admin-lte/bower_components/raphael/raphael.min.js"></script>
<script src="/admin-lte/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/admin-lte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/admin-lte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/admin-lte/bower_components/moment/min/moment.min.js"></script>
<script src="/admin-lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/admin-lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/admin-lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/admin-lte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin-lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/admin-lte/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin-lte/dist/js/demo.js"></script>
</body>
</html>s