<!DOCTYPE html>
<html >

<head>
  <% include header %>
  <script src="/js/controllers/studentTestCtr.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper" ng-app="studentTestCtr">
    <% include menuside %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          テスト
          <small>言葉</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-book"></i> テスト</a></li>
          <li class="active">言葉</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->

          <section class="col-lg-9 connectedSortable">
            <h3 class="text-center text-red">第１課：時間</h3><br />
            <!-- Box test kotoba -->
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  <h4><i class="fa fa-book"></i>
                    <a href="#">意味</a></h4>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!--box-body -->
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-6">
                    <h3 class="text-left"><i class="fa fa-clock-o text-aqua"></i> 00:30</h3>
                  </div>
                  <div class="col-lg-6 text-right">
                    <input type="text" class="knob" value="40" data-width="90" data-height="90" data-fgColor="#3c8dbc">
                    <div class="knob-label"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                      <label>ベトナム語</label>
                      <h2>Trước đây</h2>
                    </div>
                  </div>
                </div><br /><br />
                <div class="row">
                  <div class="col-lg-3">
                    <h4 class="text-center text-red">A.　以前</h4>
                  </div>
                  <div class="col-lg-3">
                    <h4 class="text-center text-red">B.　以前に</h4>
                  </div>
                  <div class="col-lg-3">
                    <h4 class="text-center text-red">C.　前に</h4>
                  </div>
                  <div class="col-lg-3">
                    <h4 class="text-center text-red">D.　以前</h4>
                  </div>
                </div><br /><br />
              </div>
              <!-- /.box-body -->
              <!--box-footer -->
              <div class="box-footer">
                <div id="writing-form" class="row">
                  <div class="col-sm-8 col-sm-offset-2 ">
                    <form>
                      <div class="form-group text-center">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="日本語で答えください。" ng-model="formData.text">
                      </div>

                      <!-- createWriting() WILL CREATE NEW WRITINGS -->
                      <!--<button type="submit" class="btn btn-primary btn-lg" ng-click="createWriting()">入力</button>-->
                      <div class="text-right">
                        <button type="cancel" class="btn btn-default">戻</button>
                        <button type="submit" class="btn btn-default" ng-click="getAnalyzeSentence()">次</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.box-footer -->

            </div>
            <!-- Box test Hiragana hitotsu wo kaite -->
            <div class="box box-widget" ng-controller="testHiraganaCtr">
              <div class="box-header with-border">
                <div class="user-block">
                  <h4><i class="fa fa-book"></i>
                    <a href="#">{{testTitle}}</a></h4>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <!--box-body -->
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-6">
                    <h3 class="text-left"><i class="fa fa-clock-o text-aqua"></i> 00:{{countDown}}</h3>
                  </div>
                  <div class="col-lg-6 text-right">
                    <input type="text" class="knob" value="{{countDown}}" data-width="90" data-height="90" data-fgColor="#3c8dbc">
                    <div class="knob-label"></div>
                  </div>
                </div>
                <div class="text-center" ng-if="answerResults">
                  <h5>Numbers correct: {{answerResults.numCorrect}}</h5>
                  <h5>Percent: {{answerResults.percent}} %</h5>
                </div>
                <div class="row">
                  <form role="form">
                    <div class="box-body">
                      <div class="form-group" ng-repeat="quiz in quizs">
                        <div class="row">
                          <h4 class="col-lg-6"><b>{{quiz.index}}. </b>{{quiz.quiz}}</h4>
                          <div class="col-lg-2" ng-repeat="num in range(quiz.numAnswer)">
                            <div class="input-group">
                              <input type="text" class="form-control" id="{{quiz.id+num}}" placeholder="answer"
                                ng-model="formHiragana.answers[quiz._id][num]">
                              <span class="input-group-addon" ng-if="answerResults[quiz._id].result[num-1].isCorrect"><i
                                  class="fa fa-check text-green"></i></span>
                              <span class="input-group-addon" ng-if="answerResults[quiz._id].result[num-1].isCorrect==false"><i
                                  class="fa fa-times-circle-o text-red"></i></span>
                              <!-- <input type="text" placeholder="答え" class="form-control"　ng-model="formHiragana.answer"> -->
                            </div>
                          </div>
                        </div>
                        <div class="text-center" ng-if="answerResults[quiz._id].result[0].isCorrect==false">
                          <h5 class="text-success">{{answerResults[quiz._id].explain}}</h5>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer text-center">
                      <button type="submit" class="btn btn-primary" ng-click="submitTestAnswer()">入力</button>
                    </div>
                  </form>
                </div>
                <br /><br />
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- Box test gimonshi wo kaite -->
            <div class="box box-widget" ng-controller="testGimonshiCtr">
              <div class="box-header with-border">
                <div class="user-block">
                  <h4><i class="fa fa-book"></i>
                    <a href="#">{{testTitle}}</a></h4>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <!--box-body -->
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-6">
                    <h3 class="text-left"><i class="fa fa-clock-o text-aqua"></i> 00:{{countDown}}</h3>
                  </div>
                  <div class="col-lg-6 text-right">
                    <input type="text" class="knob" value="{{countDown}}" data-width="90" data-height="90" data-fgColor="#3c8dbc">
                    <div class="knob-label"></div>
                  </div>
                </div>
                <div class="text-center" ng-if="answerResults">
                  <h5>Numbers correct: {{answerResults.numCorrect}}</h5>
                  <h5>Percent: {{answerResults.percent}} %</h5>
                </div>
                <div class="row">
                  <form role="form">
                    <div class="box-body">
                      <div class="form-group" ng-repeat="quiz in quizs">
                        <div class="row">
                          <h4 class="col-lg-8"><b>{{quiz.index}}. </b>{{quiz.quiz}}</h4>
                          <div class="col-lg-3">
                            <div class="input-group">
                              <input type="text" class="form-control" id="{{quiz.id}}" placeholder="answer" ng-model="formGimonshi.answers[quiz._id]">
                              <span class="input-group-addon" ng-if="answerResults[quiz._id].result.isCorrect"><i class="fa fa-check text-green"></i></span>
                              <span class="input-group-addon" ng-if="answerResults[quiz._id].result.isCorrect==false"><i
                                  class="fa fa-times-circle-o text-red"></i></span>
                              <!-- <input type="text" placeholder="答え" class="form-control"　ng-model="formHiragana.answer"> -->
                            </div>
                          </div>
                        </div>
                        <div class="text-center" ng-if="answerResults[quiz._id].result[0].isCorrect==false">
                          <h5 class="text-success">{{answerResults[quiz._id].explain}}</h5>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer text-center">
                      <button type="submit" class="btn btn-primary" ng-click="submitTestAnswer()">入力</button>
                    </div>
                  </form>
                </div>
                <br /><br />
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </section>
          <!-- /.Left col -->
          <!-- right col-->
          <section class="col-lg-3 connectedSortable">
            <div class="box box-primary">
              <h3 class="text-center">レッスン</h3><br />
              <ul class="list-group">
                <li class="list-group-item"><a href="#">第１課：時間<small class="label pull-right bg-blue">95%</small></a></li>
                <li class="list-group-item"><a href="#">第２課：家族ー友人①<small class="label pull-right bg-blue">80%</small></a></li>
                <li class="list-group-item"><a href="#">第３課：家族ー友人②<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第４課：たべるー飲む①<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第５課：食べるー飲む②<small class="label pull-right bg-red">100%</small></a></li>
                <li class="list-group-item"><a href="#">第６課：料理ー味①<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第７課：料理ー味②<small class="label pull-right bg-blue">70%</small></a></li>
                <li class="list-group-item"><a href="#">第８課：レストランー店ーホテル<small class="label pull-right bg-blue">80%</small></a></li>
                <li class="list-group-item"><a href="#">第９課：毎日の生活①<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第１０課：毎日の生活②<small class="label pull-right bg-red">100%</small></a></li>
                <li class="list-group-item"><a href="#">第１１課：電車<small class="label pull-right bg-red">100%</small></a></li>
                <li class="list-group-item"><a href="#">第１２課：飛行機ーバスー車①<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第１３課：飛行機ーバスー車②<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第１４課：家①<small class="label pull-right bg-blue">90%</small></a></li>
                <li class="list-group-item"><a href="#">第１５課：家②</a></li>
                <li class="list-group-item"><a href="#">第１６課：施設</a></li>
                <li class="list-group-item"><a href="#">第１７課：街</a></li>
                <li class="list-group-item"><a href="#">第１８課：お金、買い物①</a></li>
                <li class="list-group-item"><a href="#">第１９課：お金、買い物②</a></li>
                <li class="list-group-item"><a href="#">第２０課：靴ー服ーオシャル①</a></li>
                <li class="list-group-item"><a href="#">第２１課：靴ー服ーオシャル②</a></li>
                <li class="list-group-item"><a href="#">第２２課：色ー形</a></li>
                <li class="list-group-item"><a href="#">第２３課：数ー量ー面積</a></li>
                <li class="list-group-item"><a href="#">第２４課：趣味ー活動</a></li>
                <li class="list-group-item"><a href="#">第２５課：郵便ー宅配ー銀行</a></li>
              </ul>
            </div>
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include footer %>
</body>

</html>s